.intro {
background: url('../img/bg-intro.jpg') no-repeat center center;
background-size: cover;
padding: 150px 0;
text-align: center;
color: #fff;
}
.intro h1{
    text-transform: uppercase;
    font-size: 3em;
}
.intro h1::after{
    content: "";
    display: block;
    width: 20px;
    height: 4px;
    background: #fff;
    margin: 10px auto;
}
.intro p{
    font-style: italic;
    font-size: 1.125em;
}