@media (max-width: 739px){
    .menu-nav{
    float: none;
    clear: both;
    }
    .intro{
        padding: 60px 0;
    }
    .sobre-container{
        max-width: 300px;
    }
    .sobre-item{
        width: 300px;
        margin: 0 auto;
    }
    .produtos-container{
        max-width: 300px;
    }
    .produtos-item{
        margin: 0 auto 20px auto;
    }
    .locais{
        max-width: 300px;
    }
    .locais-item > div, .locais-item img{
        width: 340px;
        margin: 0;
    }
    .assine-container{
        max-width: 300px;
    }
    .assine-info, .assine form, .assine input{
        width: 300px;
        margin: 10px 0 0 0;
    }
    .footer-container{
        max-width: 300px;
    }
    .footer p{
        float: none;
        margin: 0px;
    }
    .footer img{
        float: none;
        margin: 20px 0;
    }
}
@media (min-width: 740px) and (max-width: 980px){
    .sobre-container{
        max-width: 720px;
    }
    .sobre-item{
        width: 340px;
    }
    .produtos-container{
        max-width: 720px;
    }
    .produtos-item{
        width: 220px;
    }
    .locais-item > div, .locais-item img{
        width: 340px;
    }
    .assine-container{
        max-width: 720px;
    }
    .assine-info, .assin form, .assine input {
        width: 340px;
    }
}
